flask
sqlalchemy
psycopg2-binary
python-dotenv
langchain-ollama
langchain
chromadb
ultralytics
flask 
flask_migrate
flask-sqlalchemy 
flask-login 
flask-wtf
passlib==1.7.4
bcrypt==4.1.2
Werkzeug==3.0.1
SentenceTransformer

#to install everything- pip install -r requirements.txt